*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}
/*----------*/
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    border-bottom:0.1rem solid #FFF2E7;
    margin-top: 1rem;
}
nav{
    margin-bottom: 1rem;
}
a{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    color: #FFF2E7;
    margin: 2.7rem; 
}
.logoImage{
    width: 5rem;
    margin-bottom: 1rem;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}
.logoImage:hover{
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}
.links{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.links:hover{
    color: #FEAFBE;
}
/*----------*/
main{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main-content-on-section{
}
.botImage{
    width: auto;
}
.hrAlt{
    width:100px ;
}
h1{
    font-size: 64px;
}

h1, h3{
    color: #FFF2E7;
    font-family: 'Righteous', cursive;
}
h2, h3{
    font-weight: 400;
    font-size: 24px;
}
li, h2{
    color:#ECD6C4;
    font-family: 'Sarala', sans-serif;
}
ol{
    margin-left: 5rem;
}
button{
    width: 160px;
    height: 57px;
    font-size: 24px;
    color:#2F2325;
    background-color:#ECD6C4;
    font-family: 'Sarala', sans-serif;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
button:hover{
    background-color: #FEAFBE;
}
/*----------*/
footer{
    border-top:0.1rem solid #FFF2E7;
    display: flexbox;
    text-align: center;
    padding: 2rem;
}
.footerBot{
    font-family: 'Righteous', cursive;
    color: #FEAFBE;
    font-size: 100px;
}