*{
    box-sizing: border-box;
}
body{
    display: flex;
}
header{
    width: 100%;
    display: flex;
}
img{
    width: 7rem;
    margin-left: 18rem;
}
nav{
    background-color: antiquewhite;
}
a{
    text-decoration: none;
    margin: 2.7rem;
}