*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}
header{
    width: 100%;
}
.logoImage{
    width: 5rem;
    margin-left: 18rem;
}
.botImage{
    width: auto;
}
nav{
    background-color:#2F2325;
}
a{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    text-decoration: none;
    margin: 2.7rem; 
    display:inline-block;
}
.links{
    transition: all 1s;
}z  
.links:hover{
    transform: scale(1.3);
}
.hrAlt{
    width:100px ;
}
h1, h3, span{
    color: #FFF2E7;
    font-family: 'Righteous', cursive;
}
li, h2{
    color:#ECD6C4;
    font-family: 'Sarala', sans-serif;
}
button{
    color:#2F2325;
    background-color:#ECD6C4;
    font-family: 'Sarala', sans-serif;
    border-radius: 4px;
}
.footerZurc{
    color: #FEAFBE;
}